nav img {
    width: 100px;
    height: 100px;
}

#picture {
    height: 10rem;
    width: 10rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 170px;
}

.selected {
    background-color: #c6c6c6 !important;
}

.profile-body p {
    font-size: 1.5em;
}